<div class="cooldowns">
    {% if transport and transport_cd > 0 %}
        <div class="cooldown-box shadow">
            <div class="cooldown-body">
                <small title="{{ transport.amount }} {{ transport.type }}" style="cursor: help">Slaves
                    <strong><span id="transport-time"></span></strong></small>
                <progress id="slave-cooldown" value="0" max="100" style="width: 100%; height: 10px;"></progress>
            </div>
        </div>
    {% endif %}
    <div class="cooldown-box shadow">
        <div class="cooldown-body">
            <small>Spell Cast
                <strong><span id="spell-time"></span></strong></small>
            <progress id="spell-cooldown" value="0" max="100" style="width: 100%; height: 10px;"></progress>
        </div>
    </div>
    <div class="cooldown-box shadow">
        <div class="cooldown-body">
            <small>Hide
                <strong><span id="hide-time"></span></strong></small>
            <progress id="hide-cooldown" value="0" max="100" style="width: 100%; height: 10px;"></progress>
        </div>
    </div>
    <div class="cooldown-box shadow">
        <div class="cooldown-body">
            <small>Assault
                <strong><span id="assault-time"></span></strong></small>
            <progress id="assault-cooldown" value="0" max="100" style="width: 100%; height: 10px;"></progress>
        </div>
    </div>
</div>
{% put scripts %}
    <script>
      function startCountdown(cd, initial_cd, timeElementId, progressBarElementId) {
        var countdown = setInterval(function() {
          document.getElementById(timeElementId).innerText = formatTime(cd);

          // Calculate the progress
          var progress = 100 - (cd / initial_cd * 100);
          document.getElementById(progressBarElementId).value = progress;

          cd--;

          // If the countdown is complete
          if(cd < 0) {
            clearInterval(countdown);
            document.getElementById(timeElementId).innerText = "READY";
            // Create a new style element
            var style = document.createElement('style');
            style.innerHTML = `
          #${progressBarElementId}::-webkit-progress-value {
            background-color: #1cc88a;
          }
          #${progressBarElementId}::-moz-progress-bar {
            background-color: #1cc88a;
          }
        `;
            // Append the style to the head
            document.head.appendChild(style);
          }
        }, 1000); // Run every second
      }

      function formatTime(seconds) {
        // if spell_cd is 0, return "READY"
        if(seconds === 0) return "READY";

        var hours = Math.floor(seconds / 3600);
        var minutes = Math.floor((seconds - (hours * 3600)) / 60);
        seconds = seconds - (hours * 3600) - (minutes * 60);

        // pad with zeroes if needed
        if(hours < 10) hours = "0" + hours;
        if(minutes < 10) minutes = "0" + minutes;
        if(seconds < 10) seconds = "0" + seconds;

        return hours + ":" + minutes + ":" + seconds;
      }

      {% if transport %}
      startCountdown({{ transport_cd }}, 180 * 60, 'transport-time', 'slave-cooldown');
      {% endif %}

      startCountdown({{ spell_cd }}, 180 * 60, 'spell-time', 'spell-cooldown');
      startCountdown({{ hide_cd }}, 30 * 60, 'hide-time', 'hide-cooldown');
      startCountdown({{ assault_cd }}, 60 * 60, 'assault-time', 'assault-cooldown');
    </script>
{% endput %}
<style>
  progress {
    background-color: #f3f3f3;
    border: 0;
    height: 10px;
    width: 100%;
  }

  progress::-webkit-progress-bar {
    background-color: #f3f3f3;
  }

  progress::-webkit-progress-value {
    background-color: #4e73df;
  }

  progress::-moz-progress-bar {
    background-color: #4e73df;
  }

  .cooldown-box {
    margin-right: 15px;
    width: 160px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
  }

  .cooldown-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 0.5rem;
  }

  .cooldowns {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
  }
</style>

